.input {
    width: 100%;
    max-width: 20rem;
    border-radius: 2px;
    border: solid 1px #ccc;
    padding: 0.5rem;
    background-color: #f5f5f5;
    box-shadow: inset 0 2px 3px rgba(0,0,0,0.2);
    font-size: 1rem;
}